/*
/// --->  MEDIA QUERY MANAGER

Pixel Range:        Em Value    BP Name
0 - 414px                       --Default Styles--
414px - 760px       26em        Medium
760px+              48em        Large

1em = 16px
*/
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes drop {
  0% {
    height: 0; }
  100% {
    height: 4rem; } }

@keyframes fade-font {
  0% {
    color: transparent;
    font-weight: 300; }
  30% { }
  100% {
    color: rgba(255, 255, 255, 0.857);
    font-weight: 500; } }

@keyframes fade {
  0% {
    font-weight: 300;
    opacity: 0; }
  30% {
    opacity: 0; }
  100% {
    opacity: 1;
    font-weight: 500; } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
  font-weight: 300;
  box-sizing: border-box;
  background: #31354F;
  color: rgba(255, 255, 255, 0.979); }

input {
  outline: none; }

*::-webkit-scrollbar {
  background-color: #31354F;
  width: .2rem; }

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.979); }

App {
  position: relative; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  z-index: 2;
  background: #31354F;
  display: flex; }
  @media only screen and (min-width: 48em) {
    .navbar {
      justify-content: space-between;
      align-items: center; } }
  .navbar__toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.979);
    font-size: 2.4rem;
    z-index: 1000; }
    @media only screen and (min-width: 48em) {
      .navbar__toggle {
        display: none; } }
  .navbar__logo {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 3rem;
    width: 22rem;
    height: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.979); }
    .navbar__logo::after {
      content: '';
      position: absolute;
      top: 2rem;
      left: 3rem;
      height: 2px;
      background: linear-gradient(to right, #AF3250, transparent);
      width: 80%; }
  .navbar__logo-icon {
    display: inline-block;
    animation: spin 9s linear infinite; }
    .navbar__logo-icon:hover {
      text-decoration: none;
      color: #AF3250; }
  .navbar__logo-text {
    font-weight: 600;
    margin: 0 auto 2rem .5rem;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.979);
    position: absolute;
    left: calc(50% - 81.5px);
    font-size: 1.5rem; }

.navlist--listView {
  position: absolute;
  top: -20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 100vw; }
  @media only screen and (min-width: 48em) {
    .navlist--listView {
      width: 100vw;
      left: 0;
      top: 25%;
      margin-top: .1rem;
      list-style-type: none;
      flex-direction: row;
      justify-content: flex-end; } }

.navlist--rowView {
  display: none; }
  @media only screen and (min-width: 48em) {
    .navlist--rowView {
      list-style-type: none;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: row;
      width: 100vw;
      justify-content: flex-end; } }

.navlist__navlink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 0rem;
  background: #5C6281;
  top: 7.9rem;
  color: transparent;
  text-decoration: none;
  transition: background-color .3s ease-in-out, font-size .3s ease;
  animation: drop .3s forwards, fade-font .5s forwards; }
  @media only screen and (min-width: 48em) {
    .navlist__navlink {
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 3rem .5rem 3rem;
      background: transparent;
      border-radius: .2rem;
      top: 50%; } }
  .navlist__navlink::after {
    content: '';
    position: absolute;
    bottom: .9rem;
    background: #B3B5C5;
    width: 1rem;
    height: 0px;
    transform: scaleX(0.2);
    transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    @media only screen and (min-width: 48em) {
      .navlist__navlink::after {
        right: 45%; } }
  .navlist__navlink:hover::after {
    transform: scaleX(6);
    height: 1.3px; }
  .navlist__navlink:hover {
    background: #6F7591;
    font-size: 1.1rem;
    box-shadow: 0 1px 3px rgba(27, 15, 58, 0.3), 0 1px 2px rgba(118, 88, 198, 0.1); }
    @media only screen and (min-width: 48em) {
      .navlist__navlink:hover {
        font-size: 1rem;
        font-weight: 700; } }

.bouncing-loader {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: calc(50% - 2rem); }
  .bouncing-loader__child {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: rgba(255, 255, 255, 0.979);
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate; }
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s; }
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s; }

.light {
  background: rgba(255, 255, 255, 0.979); }

.dark {
  background: #AF3250; }

.login {
  width: 90%;
  max-width: 40rem;
  margin: 20vh auto 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade 1s forwards; }
  .login__header {
    letter-spacing: .2rem;
    font-size: 3.5rem;
    font-weight: 400; }
  .login__form {
    width: 70%;
    margin-top: 6rem; }
  .login__note {
    margin-top: 3rem;
    font-weight: 400;
    width: 70%;
    color: rgba(255, 255, 255, 0.979); }
  .login__login-button {
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    padding: 1.5rem 2rem;
    background: #AF3250;
    color: rgba(255, 255, 255, 0.979);
    border-radius: .2rem;
    transition: all .2s ease-out; }
    .login__login-button:hover {
      background-color: #c33859;
      transform: translateY(-1px);
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3); }
  .login__fb-button {
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    padding: 1.5rem 2rem;
    background: #B3B5C5;
    color: #31354F;
    border-radius: .2rem;
    transition: all .2s ease-out;
    width: 70%; }
    .login__fb-button:hover {
      background-color: #c1c3d0;
      transform: translateY(-1px);
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3); }

.input-label {
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  display: block;
  width: 100%; }

input {
  position: relative;
  font-size: 1.3rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
  padding: 1rem .5rem;
  border: none;
  border-bottom: 0.5px solid #5C6281;
  width: 100%;
  color: #AF3250;
  background: transparent;
  transition: all .2s ease-in; }
  input:focus {
    border-color: #AF3250; }

::-webkit-input-placeholder {
  color: #6F7591;
  opacity: .7;
  font-weight: 300; }

.bp3-toast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative !important;
  margin: 2rem 0 0;
  border-radius: 3px;
  background-color: #ffffff;
  min-width: 100vw;
  pointer-events: all; }

.bp3-toast.bp3-toast-enter,
.bp3-toast.bp3-toast-appear {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px); }

.bp3-toast.bp3-toast-enter-active,
.bp3-toast.bp3-toast-appear-active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
  transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
  -webkit-transition-delay: 0;
  transition-delay: 0; }

.bp3-toast.bp3-toast-enter ~ .bp3-toast,
.bp3-toast.bp3-toast-appear ~ .bp3-toast {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px); }

.bp3-toast.bp3-toast-enter-active ~ .bp3-toast,
.bp3-toast.bp3-toast-appear-active ~ .bp3-toast {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
  transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
  -webkit-transition-delay: 0;
  transition-delay: 0; }

.bp3-toast.bp3-toast-exit {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0); }

.bp3-toast.bp3-toast-exit-active {
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  -webkit-transition-delay: 0;
  transition-delay: 0; }

.bp3-toast.bp3-toast-exit ~ .bp3-toast {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.bp3-toast.bp3-toast-exit-active ~ .bp3-toast {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms; }

.bp3-toast .bp3-button-group {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 1rem;
  padding-left: 0; }

.bp3-icon {
  fill: #FFFFFF; }

.bp3-button {
  border: none;
  height: 1.8rem;
  width: 1.8rem;
  margin-top: .3rem;
  border-radius: .2rem;
  background: transparent; }

/* .bp3-toast>.bp3-icon {
    margin: 12px;
    margin-right: 0;
    color: #5c7080;
  } */
.bp3-toast[class*="bp3-intent-"] a {
  color: rgba(255, 255, 255, 0.7); }

.bp3-toast[class*="bp3-intent-"] a:hover {
  color: #ffffff; }

.bp3-toast[class*="bp3-intent-"] > .bp3-icon {
  color: #ffffff00; }

.bp3-toast[class*="bp3-intent-"] .bp3-button,
.bp3-toast[class*="bp3-intent-"] .bp3-button::before,
.bp3-toast[class*="bp3-intent-"] .bp3-button .bp3-icon,
.bp3-toast[class*="bp3-intent-"] .bp3-button:active {
  color: rgba(255, 255, 255, 0.7) !important; }

.bp3-toast[class*="bp3-intent-"] .bp3-button:focus {
  outline-color: rgba(255, 255, 255, 0.5); }

.bp3-toast[class*="bp3-intent-"] .bp3-button:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
  color: #ffffff !important; }

.bp3-toast[class*="bp3-intent-"] .bp3-button:active {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: #ffffff !important; }

.bp3-toast[class*="bp3-intent-"] .bp3-button::after {
  background: rgba(255, 255, 255, 0.3) !important; }

.bp3-toast.bp3-intent-primary {
  background-color: #137cbd;
  color: #ffffff; }

.bp3-toast.bp3-intent-success {
  background-color: #0f9960;
  color: #ffffff; }

.bp3-toast.bp3-intent-warning {
  background-color: #d9822b;
  color: #ffffff; }

.bp3-toast.bp3-intent-danger {
  background-color: #AF3250;
  color: #ffffff; }

.bp3-toast-message {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.7rem; }

.bp3-toast-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 40;
  overflow: hidden;
  padding: 0 20px 20px;
  pointer-events: none;
  text-align: center; }

.bp3-toast-container.bp3-toast-container-top {
  top: -2rem;
  bottom: auto; }

.bp3-toast-container.bp3-toast-container-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  top: auto;
  bottom: 0; }

.bp3-toast-container.bp3-toast-container-left {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.bp3-toast-container.bp3-toast-container-right {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.bp3-toast-container-bottom .bp3-toast.bp3-toast-enter:not(.bp3-toast-enter-active),
.bp3-toast-container-bottom .bp3-toast.bp3-toast-enter:not(.bp3-toast-enter-active) ~ .bp3-toast,
.bp3-toast-container-bottom .bp3-toast.bp3-toast-leave-active ~ .bp3-toast {
  -webkit-transform: translateY(60px);
  transform: translateY(60px); }

/*# sourceMappingURL=blueprint-icons.css.map */
.trail {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1rem;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  transition: all .3s ease-out; }
  .trail:hover {
    background: #e3e4f0; }
  .trail__features {
    display: flex;
    flex-direction: column; }
  .trail__feature {
    margin-top: 1rem;
    position: relative; }
  .trail__difficulty {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: -.1rem;
    left: 7rem; }
  .trail__distance-to-user {
    top: 4rem;
    right: 2rem;
    position: absolute; }
  .trail--selected {
    background: rgba(142, 199, 58, 0.288); }

.difficulty--greenBlue {
  background: #00BCD4;
  border-radius: 50%; }

.difficulty--blue {
  background: #2196F3; }

.difficulty--blueBlack {
  height: 1.7rem;
  width: 1.7rem;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: #536DFE; }

.difficulty--black {
  height: 1.7rem;
  width: 1.7rem;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: #212121; }

.difficulty--green {
  background: #4CAF50;
  border-radius: 50%; }

.find-trail-page {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 48em) {
    .find-trail-page {
      flex-direction: row;
      padding: 1rem; } }

.trail-filter-section {
  height: 50vh;
  width: 100vw;
  padding: 2rem 0rem;
  background: #31354F; }
  @media only screen and (min-width: 48em) {
    .trail-filter-section {
      height: 150vh;
      min-width: 30rem;
      max-width: 30rem;
      margin-right: 1rem;
      background: #31354F; } }

.trail-map-section {
  display: flex;
  width: 100vw;
  flex-direction: column; }
  @media only screen and (min-width: 48em) {
    .trail-map-section {
      height: 150vh; } }

.map-container {
  margin-top: .5rem;
  height: 70vh; }
  @media only screen and (min-width: 48em) {
    .map-container {
      margin-top: 0; } }

.trail-container {
  margin-top: .5rem;
  padding: 2rem 1rem;
  border-radius: .2rem;
  height: 72vh;
  color: #31354F;
  background: #f0f0f5;
  overflow-y: auto;
  z-index: 5; }

.map-component {
  height: 100%;
  border-radius: .2rem;
  z-index: 1; }

.save-trail-button {
  margin-top: .5rem;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  padding: 1.5rem 2rem;
  background: #62b462;
  color: rgba(255, 255, 255, 0.979);
  border-radius: .2rem;
  transition: all .2s ease-out; }
  .save-trail-button:hover {
    background-color: #73bc73;
    transform: translateY(-1px);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3); }

.trail-filter__header {
  text-align: center; }
  @media only screen and (min-width: 48em) {
    .trail-filter__header {
      margin-top: 3rem; } }

.trail-filter-form {
  height: 100%;
  width: 90%;
  display: grid;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
  grid-template-columns: repeat(4, 15%);
  grid-template-rows: repeat(3, 1fr); }
  @media only screen and (min-width: 48em) {
    .trail-filter-form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch; } }
  .trail-filter-form__submit-button {
    grid-column: 1 / 3;
    grid-row: 3/ 4;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    padding: 1.5rem 2rem;
    background: #AF3250;
    color: rgba(255, 255, 255, 0.979);
    border-radius: .2rem;
    transition: all .2s ease-out; }
    .trail-filter-form__submit-button:hover {
      background-color: #c33859;
      transform: translateY(-1px);
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3); }
    @media only screen and (min-width: 48em) {
      .trail-filter-form__submit-button {
        margin-top: 6rem; } }
  .trail-filter-form__reset-button {
    grid-column: 3/ 5;
    grid-row: 3/ 4;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    padding: 1.5rem 2rem;
    background: #B3B5C5;
    color: #31354F;
    border-radius: .2rem;
    transition: all .2s ease-out; }
    .trail-filter-form__reset-button:hover {
      background-color: #c1c3d0;
      transform: translateY(-1px);
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3); }

.trail-filter {
  position: relative;
  font-size: 1.1rem;
  margin-top: 2rem; }
  @media only screen and (min-width: 48em) {
    .trail-filter {
      margin-top: 6rem; } }
  .trail-filter p {
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    vertical-align: center;
    font-weight: 200; }
  .trail-filter span {
    vertical-align: center;
    display: inline-block;
    color: #AF3250;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: underline; }
  .trail-filter--distance {
    grid-column: 1 / 3;
    grid-row: 1 / 2; }
  .trail-filter--maxResults {
    grid-column: 3 / 5;
    grid-row: 1 / 2; }
  .trail-filter--minLength {
    grid-column: 1 / 3;
    grid-row: 2 / 3; }
  .trail-filter--starRating {
    grid-column: 3 / 5;
    grid-row: 2 / 3; }

.footer {
  height: 8vh;
  width: 100%;
  background: #31354F; }

.trailmarks-page {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #31354F;
  min-height: 100vh; }

.trailmarks {
  margin-top: 5rem;
  padding: 5rem; }
  .trailmarks__header {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 300; }
    @media only screen and (min-width: 26em) {
      .trailmarks__header {
        font-size: 6rem; } }
  .trailmarks .trail {
    padding: 2.5rem; }
  .trailmarks .trail:hover {
    background: #e3e4f0;
    transform: translateX(-0.5rem); }

.trail-detail-link {
  font-weight: 600; }

.btn-remove,
.btn-remove:visited,
.btn-remove:active {
  position: absolute;
  right: 5%;
  top: 1.5rem;
  width: 2rem;
  height: 2rem;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none; }
  .btn-remove:hover .cross,
  .btn-remove:visited:hover .cross,
  .btn-remove:active:hover .cross {
    fill: red;
    stroke: red;
    stroke-width: .5; }

.cross {
  fill: red;
  transition: all .2s ease;
  stroke-opacity: 1; }

.trail-information-button {
  margin-top: 1rem;
  width: 1.5rem;
  height: 1.5rem; }
