.login {


    width: 90%;
    max-width: 40rem;
    margin: 20vh auto 0 auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation: fade 1s forwards;

    &__header {
        letter-spacing: .2rem;
        font-size: 3.5rem;
        font-weight: 400;
    }

    &__form {
        width: 70%;
        margin-top: 6rem;
    }

    &__note {
        margin-top: 3rem;
        font-weight: 400;
        width: 70%;
        color: $color-white;
    }

    &__login-button {
        @include color-button($color-accent);


    }

    &__fb-button {
        @include color-button($color-grey-light, $color-primary);
        width: 70%;
    }

}

.input-label {
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    display: block;
    width: 100%;
}

input {
    position: relative;
    font-size: 1.3rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    padding: 1rem .5rem;
    border: none;
    border-bottom: .5px solid $color-grey-dark;
    width: 100%;
    color: $color-accent;
    background: transparent;
    transition: all .2s ease-in;

    &:focus {
        border-color: $color-accent;
    }
}

::-webkit-input-placeholder {
    color: $color-grey;
    opacity: .7;
    font-weight: 300;
}