.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    box-shadow: $box-shadow-light;
    z-index: 1;

    display: flex;

    @include respond(medium) {
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        list-style-type: none;
    }

    &__toggle {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        color: $color-white;
        font-size: 2.4rem;
    }


    &__logo {
        position: absolute;
        display: inline-block;

        top: 20%;
        left: 3rem;

        width: 22rem;
        height: 3rem;

        margin-top: 1rem;
        text-decoration: none;
        cursor: pointer;
        color: $color-white;

        &::after {
            content: '';
            position: absolute;
            top: 2rem;
            left: 3rem;
            height: 2px;
            background: linear-gradient(to right, $color-red, transparent);
            width: 80%;
        }
    }

    &__logo-icon {
        display: inline-block;
        animation: spin 9s linear infinite;

        &:hover {
            text-decoration: none;
            color: $color-red;
        }
    }

    &__logo-text {
        font-weight: 600;
        margin: 0 auto 2rem .5rem;
        text-align: center;
        text-decoration: none;
        color: $color-white;
        position: absolute;
        left: calc(50% - 81.5px);
        font-size: 1.5rem;
    }
}

.navlist {

    &--listView {
        position: absolute;
        top: 7.9rem;
        display: flox;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;


        list-style: none;


        width: 100vw;
    }



    &__navlink {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 0rem;
        background: $color-grey-dark;

        color: transparent;
        text-decoration: none;
        transition: background-color .3s ease-in-out, font-size .3s ease;
        animation: drop 1s forwards, fade-font .5s forwards;

        &::after {
            content: '';
            position: absolute;
            bottom: .9rem;
            background: $color-grey-light;
            width: 1rem;
            height: 0px;
            transform: scaleX(.2);
            transition: transform .3s cubic-bezier(0.445, 0.05, 0.55, 0.95)
        }

        &:hover::after {
            transform: scaleX(6);
            height: 1.3px;
        }

        &:hover {
            background: $color-grey;
            font-size: 1.1rem;
            box-shadow: 0 1px 3px rgba(27, 15, 58, 0.3), 0 1px 2px rgba(118, 88, 198, 0.1);

        }
    }

    &--rowView {
        display: none;

        @include respond(medium) {
            display: flex;
            // margin-right: 30px;
            // flex-direction: row;
            // justify-content: flex-end;
            width: 100vh;
        }
    }
}



li:last-of-type {}

// @media screen and (min-width: 768px) {



//     .navbar {}

//     .mainNav,
//     .active {
//         display: flex;
//         margin-right: 30px;
//         flex-direction: row;
//         justify-content: flex-end;
//     }

//     .navli {
//         margin: 0;
//     }

//     .navlinks {
//         margin-left: 40px;
//         margin-top: 1rem;
//         margin-bottom: 0;

//     }

//     .logo {
//         margin-top: 0;

//     }

//     .toggle {
//         display: none;
//     }

//     .logo:hover,
//     .nav-links:hover {
//         color: rgba(255, 255, 255, 1);
//     }
// }