.trailmarks-page {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-primary;
}

.trailmarks {
    margin-top: 5rem;
    padding: 5rem;

    &__header {
        text-transform: uppercase;
        font-size: 6rem;
        font-weight: 300;
    }
}