.trail-filter__header {
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;

    @include respond(medium) {
        margin-top: 3rem;
    }
}

.trail-filter-form {
    height: 100%;
    width: 90%;
    display: grid;
    margin: 0 auto;


    align-items: center;
    align-content: center;

    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 4rem;



    grid-template-columns: repeat(4, 15%);
    grid-template-rows: repeat(3, 1fr);

    @include respond(medium) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    &__submit-button {
        grid-column: 1 / 3;
        grid-row: 3/ 4;
        @include color-button($color-accent);

        @include respond(medium) {
            margin-top: 6rem;
        }
    }

    &__reset-button {
        grid-column: 3/ 5;
        grid-row: 3/ 4;
        @include color-button($color-grey-light, $color-primary);

        @include respond(medium) {}
    }

}


.trail-filter {
    position: relative;
    font-size: 1.1rem;
    margin-top: 2rem;

    @include respond(medium) {
        margin-top: 6rem;
    }


    & p {
        font-size: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        vertical-align: center;
        font-weight: 200;
    }

    & span {
        vertical-align: center;
        display: inline-block;
        color: $color-red;
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: underline;

    }

    &--distance {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    &--maxResults {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }

    &--minLength {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    &--starRating {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

}