@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes drop {
    0% {


        height: 0;
    }

    // 30% {
    //     height: 3.8rem;



    // 55% {
    //     height: 3.8rem;
    // }



    100% {

        height: 4rem;
    }
}


@keyframes fade-font {
    0% {
        color: transparent;
        font-weight: 300;

    }

    30% {}

    100% {
        color: rgba(255, 255, 255, 0.857);
        font-weight: 500;
    }
}

@keyframes fade {
    0% {
        font-weight: 300;
        opacity: 0;
    }

    30% {

        opacity: 0;
    }

    100% {
        opacity: 1;
        font-weight: 500;
    }
}