@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes drop {
    0% {
        top: 8rem;
        opacity: 0;
        height: 0%
    }

    50% {

        opacity: 1;
    }

    75% {}

    100% {
        top: 8rem;
        height: 100%;
    }
}

@keyframes fade-font {
    0% {
        font-weight: 300;
        opacity: 0;
    }

    30% {

        opacity: 0;
    }

    100% {
        opacity: 1;
        font-weight: 500;
    }
}

@keyframes fade {
    0% {
        font-weight: 300;
        opacity: 0;
    }

    30% {

        opacity: 0;
    }

    100% {
        opacity: 1;
        font-weight: 500;
    }
}