/// ---> COLOR VARIABLES
$color-white: #FFFFFF;

// $color-primary: rgb(70, 130, 208);
$color-primary-dark: rgb(41, 44, 63);
$color-primary: #31354F;

$color-grey-dark: #5C6281;
$color-grey:#6F7591;
$color-grey-light: #B3B5C5;

$color-red: #AF3250;
$box-shadow-light: 0px 1px 6px rgba(0, 0, 0, 0.3);